*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

main{
    width: 100%;
    min-height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    height: 30vh;
}